{% extends 'base.html' %}

<body>
{% block content %}
<style>
 .children form{
     margin-left: -48px;
 }
 }
</style>
<main class="bg-white">
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="contact-form">
                <div class="row">
                    <div class="my-auto col-md-9">
                        <h1 class="post-title">{{post.title}}</h1>
                        <p class="pt-1 text-truncate">작성일 : {{post.created|date:"Y. m. j | P"}}</p>
                        <!--{% if post.user == user %}
                            <a href="{% url 'notifications:photos' post.pk %}">
                                <span class="modification-btn">사진 업로드</span>
                            </a>
                        {% endif %}-->
                    </div>
                    <div class="col-md-3">
                        {% include "mixins/user_avatar.html" with user=post.user %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="Detail-Container pt-4 col-md-12">
                        <p class="lead">{{post.content|safe}}</p>
                        {% for photo in post.photos.all %}
                            <div>
                                <img class="nagasa3 takasa3" src="{{photo.file.url}}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--Review sector-->
            <div class="container rounded-lg min-vh-100">
                <div class="pt-2 pb-5">
                    <h42>댓글    {{post.comments.all.count}}개</h4>
                    <!--Comment Form-->
                    <form class="mx-auto my-5" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2 my-auto">
                                {% if user.avatar %}
                                    <div>
                                        <div class="mx-auto takasa nagasa overflow-hidden">
                                            <img class="rounded-circle h-100 w-100 d-flex justify-content-center border border-5 border-dark" src="{{user.avatar.url}}"/>
                                        </div>
                                    </div>
                                {% else %}
                                    <div>
                                        <div class="mx-auto takasa nagasa overflow-hidden rounded-circle">
                                            <img class="h-100 w-100 d-flex justify-content-center" src="/media/avatars/user4.png"/>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-8">{{form}}</div>
                            <button class="call_to-btn h-25 d-flex my-auto"><span class="main-heading">댓글</span></button>
                        </div>
                    </form>
                </div>
                {% load mptt_tags %}
                <div>
                    {% recursetree post.comments.all %}
                    <!--<div id="{{node.id}}"class="my-2 p-2 rounded shadow-lg" style="border: 1px solid grey">-->
                    <div id="{{node.id}}"class="my-2 p-2 rounded shadow col-md-10 mx-auto col-sm-12" style="">
                        <div class="row">
                        <div class="col-md-2 col-sm-1 align-self-center">
                        {% if node.user.avatar %}
                                <div>
                                    <div class="mx-auto takasa nagasa overflow-hidden">
                                        <img class="rounded-circle h-100 w-100 d-flex justify-content-center border border-5 border-dark" src="{{node.user.avatar.url}}"/>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div class="mx-auto takasa nagasa overflow-hidden rounded-circle">
                                        <img class="h-100 w-100 d-flex justify-content-center" src="/media/avatars/user4.png"/>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="col-md-auto font-weight-bold overflow-hidden">
                                {{node.user.username}}
                            </div>
                            <div class="col-md-2">{{node.publish|date:"Y. m. j"}}</div>
                        </div>
                        <div class="row">
                            <div class="align-self-center">
                                {% if node.level > 1 and node.user != node.parent.user%}
                                <span class="bg-warning ml-md-3 ml-1 ">@{{node.parent.user.username}}</span>
                                {% endif %}
                            </div>
                            <div class="p-md-3 p-1">{{node.content}}</div>
                        </div>
                        <div>{{node.id}}</div>
                        </hr>
                        <button class="border-0" onclick="myFunction({{node.id}})">reply</button>
                        </div>
                        </div>
                    </div>
                        {% if not node.is_leaf_node and node.level == 0 %}
                        <div class="pl-2 pl-md-5">{{children}}</div>
                        {% else %}
                        <div>{{children}}</div>
                        {% endif %}

                    {% endrecursetree %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function formExit() {
            document.getElementById("newForm").remove();
            }
        function myFunction(id){
            if(document.contains(document.getElementById("newForm"))){
                document.getElementById("newForm").remove();
            }
            var a=document.getElementById(id);
            a.insertAdjacentHTML('afterend',
            '<form id="newForm" class="form-insert py-2 col-md-10 col-sm-12 mx-auto" method="post"> \
                <div class="d-flex justify-content-between"><h2>코멘트:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_content"></label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-warning btn-lg btn-block">등록</button> \
              </form>');
            
        }
    </script>
</main>
{% endblock %}
</body>