{% extends 'base.html' %}

<body>
{% block content %}
<main class="bg-white">
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="contact-form">
                <div class="row">
                    <div class="pt-3 col-md-9">
                        <h1>{{post.title}}</h1>
                        <p class="mt-4">작성일 : {{post.created}}</p>
                    </div>
                    <div class="col-md-3">
                        {% include "mixins/user_avatar.html" with user=post.user %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="Detail-Container pt-4 col-md-12">
                        {{post.content}}
                    </div>
                </div>
            </div>
            <!--Review sector-->
            <div class="container rounded-lg min-vh-100">
                <h4>Comment</h4>
                {% for review in post.reviews.all %}
                    <div class="row my-3">
                        <div class="col-md-3">
                            {% include "mixins/user_avatar.html" with user=review.user %}
                        </div>
                        <div class="col-md-9 text-justify">
                            {{review.review}}-{{review.user}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
</body>