{% extends 'base.html' %}


{% block content %}
    <div class="mx-auto col-lg-8 Custom-mar text-right"><a href="{% url 'notifications:create-post' %}"><span class="call_to-btn2 text-black-50 mb-2">글쓰기</span></a></div>
    <div class="List-Container mx-auto col-lg-8 col-sm-12">
        <div class="container mx-auto pb-4 w-100">
            <div class="row justify-content-between py-3 Custom-border-b mb-3">
                <span class="col-md-1">말머리</span>
                <span class="col-md-7 text-center">제목</span>
                <span class="text-center col-md-2">글쓴이</span><span class="col-md-2 text-center">작성일</span>
            </div>
            <!--notification-->
            {% for notification in notifications  %}
            <div class="row justify-content-between notification">
                <span class="col-md-1">공지</span>
                <div class="col-md-7">
                    <a href="{% url 'notifications:detail' notification.pk %}" >
                        <span class="text-truncate text-dark">{{notification.title}}</span> 
                    </a>
                </div>
                <span class="col-md-2 text-black-50 text-truncate text-center">{{notification.user.username}}</span><span class="col-md-2 text-center text-truncate">{{notification.created|date:"P"}}</span>
            </div>
            <!--normal post-->
            {% endfor %}
            {% for posting in normals  %}
            <div class="row justify-content-between">
                <span class="col-md-1">일반</span>
                <div class="col-md-7">
                    <a href="{% url 'notifications:detail' posting.pk %}" >
                        <span class="text-truncate text-dark">{{posting.title}}</span> 
                    </a>
                </div>
                <span class="col-md-2 text-black-50 text-truncate text-center">{{posting.user.username}}</span><span class="col-md-2 text-center text-truncate">{{posting.created|date:"P"}}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="text-center mt-5">
        <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="call_to-btn2 text-black-50">Previous</a>
        {% endif %}

        {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}" class="call_to-btn2 text-black-50">Next</a>
        {% endif %}


        </h5>
    </div>

    <form method="GET" action="{% url 'notifications:search'%}" class="mx-auto w-25 d-flex justify-content-center mt-5">
        <input name="keyword" value="{{keyword}}" placeholder="키워드로 검색" class="kagenoaru-box text-center">
        <button class="call_to-btn2 col-2 text-black-50 ml-2">검색</button>
    </form>


{% endblock content %}
</body>